Repository flow-build/diagrams, pull requests merged in 2023-05, with the labels that each got.

#10 feat: add routes /workflow & /workflow/nobags to build diagram
  docker-compose.yml
  package-lock.json
  package.json
  src/app.js
  src/controllers/index.js
  src/controllers/workflow.js
  src/routers/mainRouter.js
  src/tests/diagrams.test.js
  src/tests/workflowModifier.test.js
  src/utils/workflowModifier.js
  src/validators/index.js
  src/validators/workflow.js
Labels: js, configuration, dependencies, test

#12 Feature/adm 197
  db/migrations/20220815135910_create_diagrams_table.js
  db/migrations/20221007213740_add_aligned_to_diagrams.js
  db/migrations/20221014153521_create_workflows_table.js
  db/migrations/20221014154948_create_diagram_to_workflow_table.js
  db/migrations/20221014160432_rename_workflow_id_on_diagrams.js
  db/migrations/20230125173000_make_user_id_nullable.js
  db/migrations/20230503190508_create_blueprint_table.js
  db/migrations/20230503190509_create_diagram_table.js
  db/migrations/20230503190851_create_server_table.js
  db/migrations/20230503190858_create_workflow_table.js
  db/seeds/seed-test-blueprint.js
  db/seeds/seed-test-diagram.js
  db/seeds/seed-test-server.js
  db/seeds/seed-test-workflow.js
  db/seeds/seed-tests-diagram-to-workflow.js
  package-lock.json
  package.json
  src/app.js
  src/controllers/diagrams.js
  src/controllers/index.js
  src/controllers/server.js
  src/diagramCore.js
  src/middlewares/errorHandler.js
  src/routers/mainRouter.js
  src/services/eventListener.js
  src/services/getFlowbuildBlueprint.js
  src/tests/diagrams.test.js
  src/validators/index.js
  src/validators/server.js
Labels: js, configuration, dependencies, test

#13 Feature/adm 205
  package-lock.json
  package.json
  src/controllers/diagrams.js
  src/routers/mainRouter.js
  src/tests/diagrams.test.js
  src/validators/diagrams.js
Labels: js, configuration, dependencies, test

#14 feat: add route GET /server
  db/migrations/20230503190851_create_server_table.js
  db/seeds/seed-test-server.js
  package-lock.json
  package.json
  src/controllers/server.js
  src/routers/mainRouter.js
  src/tests/diagrams.test.js
  src/validators/server.js
Labels: js, configuration, dependencies, test

#15 Feature/token user
  src/app.js
  src/controllers/diagrams.js
  src/controllers/token.js
  src/middlewares/setUser.js
  src/routers/freeRouter.js
  src/services/tokenGenerator.js
  src/tests/diagrams.test.js
  src/tests/token.test.js
Labels: js, test

#17 Refactor/style
  .eslintrc.js
  .husky/pre-commit
  .prettierrc
  db/migrations/20230503190508_create_blueprint_table.js
  db/migrations/20230503190509_create_diagram_table.js
  db/migrations/20230503190851_create_server_table.js
  db/migrations/20230503190858_create_workflow_table.js
  db/seeds/seed-test-blueprint.js
  db/seeds/seed-test-diagram.js
  db/seeds/seed-test-server.js
  db/seeds/seed-test-workflow.js
  jest.config.js
  knexfile.js
  package-lock.json
  package.json
  public/swagger-ui/initializer.js
  src/app.js
  src/controllers/diagrams.js
  src/controllers/healthCheck.js
  src/controllers/index.js
  src/controllers/server.js
  src/controllers/token.js
  src/controllers/workflow.js
  src/middlewares/errorHandler.js
  src/middlewares/setUser.js
  src/routers/freeRouter.js
  src/routers/mainRouter.js
  src/samples/blueprint.js
  src/server.js
  src/services/eventListener.js
  src/services/getFlowbuildBlueprint.js
  src/services/tokenGenerator.js
  src/tests/alignment.test.js
  src/tests/diagrams.test.js
  src/tests/healthCheck.test.js
  src/tests/token.test.js
  src/tests/workflowModifier.test.js
  src/utils/alignment.js
  src/utils/api.js
  src/utils/db.js
  src/utils/eventEmitter.js
  src/utils/jwtSecret.js
  src/utils/logger.js
  src/utils/workflowModifier.js
  src/validators/base.js
  src/validators/diagrams.js
  src/validators/index.js
  src/validators/server.js
  src/validators/workflow.js
Labels: js, configuration, dependencies, test

#20 Refactor/requests interfaces
  .eslintrc.js
  src/controllers/diagrams.js
  src/controllers/token.js
  src/middlewares/setUser.js
  src/routers/mainRouter.js
  src/services/tokenGenerator.js
  src/tests/diagrams.test.js
  src/tests/token.test.js
  src/validators/diagrams.js
Labels: js, test

#19 Feature/adm 201
  package-lock.json
  package.json
  src/controllers/workflow.js
  src/routers/mainRouter.js
  src/tests/diagrams.test.js
Labels: js, configuration, dependencies, test

#21 Feature/adm 198
  db/migrations/20230503190858_create_workflow_table.js
  db/migrations/20230510151044_create_type_column.js
  package-lock.json
  package.json
  src/controllers/diagrams.js
  src/controllers/server.js
  src/controllers/workflow.js
  src/routers/mainRouter.js
  src/services/eventListener.js
  src/services/flowbuildApi.js
  src/services/getFlowbuildBlueprint.js
  src/tests/diagrams.test.js
  src/utils/workflowModifier.js
Labels: js, configuration, dependencies, test

#22 Feature/adm 200
  db/seeds/seed-test-diagram.js
  src/controllers/diagrams.js
  src/controllers/workflow.js
  src/routers/mainRouter.js
  src/tests/diagrams.test.js
  src/validators/diagrams.js
Labels: js, configuration, dependencies, test

#24 feat: add route DELETE /server/:id
  db/migrations/20230503190851_create_server_table.js
  package-lock.json
  package.json
  src/controllers/server.js
  src/routers/mainRouter.js
  src/services/eventListener.js
  src/tests/diagram.test.js
Labels: js, configuration, dependencies, test

#26 chore(release): 1.5.0-rc.9
  package-lock.json
  package.json
Labels: configuration, dependencies

#27 fix: adjust setDefault
  .env.docker
  README.md
  package-lock.json
  package.json
  src/controllers/diagram.js
  src/tests/diagram.test.js
Labels: js, configuration, dependencies, test, doc

#28 chore(release): 1.5.0-rc.10
  package-lock.json
  package.json
Labels: configuration, dependencies
